
/*font familys imported from google fonts*/
/* font-family: 'Open Sans', sans-serif;
font-family: 'Monoton', cursive; */


body,
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.navigation-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: .75px solid grey; 
    align-items: center;
}
.navigation-menu h3 {
    margin-left: 15px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    
}
/*explore only is in skyblue*/
/*doesnt work right now*/
.navigation-menu h3:first-child {
    color: #299bd1;
}
.navigation-logo {
    display: none;
}

.jumbotron {
    background-image: url("../images/jumbotron-bike.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
}
.jumbotron-bike {
    margin: 0 auto;
    text-align: center;
    width: 51.3rem;
    padding-top: 11.85rem;
    padding-bottom: 11.85rem;
}
.jumbotron-bike h1 {
    font-family: "Monoton", cursive;
    font-size: 5.7rem;
    text-shadow: -1px -1px 0 #000;
}

.btn {
    margin-top: 2.8rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    width: 11.4rem;
    background-color: #299bd1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}


/*featured product */
.main-container {
    width: 100%;
}

.feature-project-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.barn-image img {
    width: 100%;
    margin-bottom: 20px;
}

.information {
    display: flex;
}
.prouducts, .documentary {
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.7);
    width: 50%;
    margin-right: 20px;
}

.products h2, .documentary h2{
    margin-top: 0;
    font-size: 1.3rem;
    font-weight: bold;
}

.products h2 {
    color: #299bd1;
}













@media only screen and (min-width: 700px) {

    .navigation-menu a {
        margin-left: 2rem;
    }

    .navigation-logo {
        display: unset;
        margin-right: 2rem;
    }

    .navigation-menu {
        display: flex;
    }    

    .jumbotron-bike h1 {
        font-size: 7.1rem;
    }

    .feature-project-container {
        flex-direction: row;
        justify-content: space-around;
    }
    .row {
        width: 100%;
        clear: both;
    }
    .col-half {
        width: 45%;
        float: left;
    }
    /* .col-fourth{
        width: 22%;
        float: left;
    } */
    

}
